
<polymer-element name="wc-controller" attributes="shift">

	<template>
        <link rel="stylesheet" href="/wc/wc-loader/styles/bootstrap/css/bootstrap.min.css">
        
		<div class="btn-group pull-left">
            <button type="button" class="btn btn-default" on-click="{{doStart}}">
            	<span class="glyphicon glyphicon-play"></span>
            </button>
            <button type="button" class="btn btn-default" on-click="{{doStop}}">
            	<span class="glyphicon glyphicon-stop"></span>
            </button>
        </div>
        <br><br>
	</template>

	<script src="../scripts/script.js"></script>

</polymer-element>