<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="../styles/bootstrap/css/docs.min.css">
<link rel="stylesheet" href="../styles/base.css">

<script src="../scripts/jquery/jquery.js"></script>
<!-- 
<script src="/wc/wc-loader/scripts/jquery/jquery-ui.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
-->

